@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Black"), local("PlayfairDisplay-Black"),
    url("PlayfairDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"),
    url("PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Bold"), local("PlayfairDisplay-Bold"),
    url("PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Italic"), local("PlayfairDisplay-Italic"),
    url("PlayfairDisplay-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Black Italic"),
    local("PlayfairDisplay-BlackItalic"),
    url("PlayfairDisplay-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Bold Italic"),
    local("PlayfairDisplay-BoldItalic"),
    url("PlayfairDisplay-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
